<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Import_To_bd_urg"/>
<stringAttribute key="TALEND_JOB_ID" value="_gJRCAP3oEei9mITy0XpscA"/>
<stringAttribute key="TALEND_JOB_NAME" value="import_bdUrg_to_dwUrg"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
